@page {
  margin:1in;
}

a {
  color: black;
  text-decoration: none;
}

#menu {
  display: none;
}

#contact-info {
  display: grid;
  grid-template-columns: 30% 45%;
  margin: 1rem 12%;
}

#contact-info p {
  margin: 0;
  padding: 0;
}

.table {
  display: grid;
  grid-template-columns: 60% 20%;
}

.table p {
  border-bottom: 1px solid;
  margin: 0;
}
